<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS2.dao.AdminDAO">

	<!-- select -->
	<select id="getTodayVisit" resultType="com.spring.javaProjectS2.vo.VisitVO">
		select *,datediff(today,now()) as date_diff from visit;
	</select>
	<select id="getComplaintList" resultType="com.spring.javaProjectS2.vo.ComplaintVO">
		select * from complaint order by idx desc limit #{startIndexNo}, #{pageSize};
	</select>
	<select id="getTotRecCnt" resultType="int">
		select count(*) from complaint;
	</select>
	<select id="getBoardList" resultType="com.spring.javaProjectS2.vo.BoardVO">
		select * from board;
	</select>
	<select id="getInquiryList" resultType="com.spring.javaProjectS2.vo.InquiryVO">
		select *, datediff(asktime,now()) as date_diff, timestampdiff(hour,asktime,now()) as hour_diff from inquiry order by idx desc limit #{startIndexNo}, #{pageSize};
	</select>
	<select id="getInquiryStandby" resultType="com.spring.javaProjectS2.vo.InquiryVO">
		select count(*) from inquiry where inquirystate = '미완료';
	</select>
	<select id="getComplaintText" resultType="com.spring.javaProjectS2.vo.ComplaintVO">
		select * from complaint where idx = #{idx};
	</select>
	<select id="getHealthInterestList" resultType="com.spring.javaProjectS2.vo.HealthVO">
		select hName, interest from health where interest != 0 order by interest desc limit 5;
	</select>
	<select id="getModifyTotRecCnt" resultType="int">
		select count(*) from modify;
	</select>
	<select id="getHealthModifyList" resultType="com.spring.javaProjectS2.vo.ModifyVO">
		select *, datediff(modifyDate,now()) as date_diff, timestampdiff(hour,modifyDate,now()) as hour_diff from modify order by idx desc limit #{startIndexNo}, #{pageSize};
	</select>
	<select id="getComplaintSize" resultType="int">
		select count(*) from complaint where complaintState = '대기중';
	</select>
	<select id="getModifySize" resultType="int">
		select count(*) from modify where modifyState = '미완료';
	</select>
	<select id="getSearchTotRecCnt" resultType="int">
		<if test="search == ''">
			select count(*) from member where mid like concat('%',#{searchString},'%') or nickName like concat('%',#{searchString},'%') or name like concat('%',#{searchString},'%');
		</if>
		<if test="search != ''">
			select count(*) from member where ${search} like concat('%',#{searchString},'%');
		</if>
	</select>
	<select id="getMemberSearch" resultType="com.spring.javaProjectS2.vo.MemberVO">
		<if test="search == ''">
			select * from member where mid like concat('%',#{searchString},'%') or nickName like concat('%',#{searchString},'%') or name like concat('%',#{searchString},'%') order by idx desc limit #{startIndexNo}, #{pageSize};
		</if>
		<if test="search != ''">
			select * from member where ${search} like concat('%',#{searchString},'%') order by idx desc limit #{startIndexNo}, #{pageSize};
		</if>
	</select>
	<select id="getDelCheckTotRecCnt" resultType="int">
		select count(*) from member where userDel = #{delCheck};
	</select>
	<select id="getDelCheckSearch" resultType="com.spring.javaProjectS2.vo.MemberVO">
		select * from member where userDel = #{delCheck} order by idx desc limit #{startIndexNo}, #{pageSize};
	</select>
	<select id="getComplaintPartList" resultType="com.spring.javaProjectS2.vo.ComplaintVO">
		select * from complaint where complaintPart = #{part} order by idx desc;
	</select>
	<select id="getComplaintTypeList" resultType="com.spring.javaProjectS2.vo.ComplaintVO">
		select * from complaint where complaintType = #{type} order by idx desc;
	</select>
	<select id="getComplaintStateList" resultType="com.spring.javaProjectS2.vo.ComplaintVO">
		select * from complaint where complaintState = #{state} order by idx desc;
	</select>
	<select id="getComplaintSearchList" resultType="com.spring.javaProjectS2.vo.ComplaintVO">
		<!-- <if test="search == ''">
		</if> -->
		<if test="search != ''">
			select * from complaint where ${search} like concat('%',#{searchString},'%') order by idx desc;
		</if>
	</select>
	<select id="getModifyStateTotRecCnt" resultType="int">
		select count(*) from modify where modifyState = #{state};
	</select>
	<select id="getHealthModifyStateList" resultType="com.spring.javaProjectS2.vo.ModifyVO">
		select * from modify where modifyState = #{state} order by idx desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	
	<!-- insert -->
	<insert id="setToday">
		insert into visit values(now(),1,default);
	</insert>
	<insert id="setTodayMember">
		insert into visit values(now(),1,'회원');
	</insert>
	
	
	<!-- update -->
	<update id="setTodayVisitCntPlus">
		update visit set visit = visit + 1 where today = #{today} and member = #{str};
	</update>
	<update id="setComplaintStateUpdate">
		<if test="str == 'OK'">
			update complaint set complaintState = '삭제완료' where complaintidx = #{idx};
		</if>
		<if test="str == 'NO'">
			update complaint set complaintState = '보류' where complaintidx = #{idx};
		</if>
	</update>
	<update id="setAdmininquiryContent">
		update inquiry set answerMid = #{vo.answerMid}, answer = #{vo.answer}, answertime = now(), inquirystate = '답변완료' where idx = #{vo.idx};
	</update>
</mapper>