<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS2.dao.GymDAO">
	<!-- select -->
	<select id="getTotRecCnt" resultType="int">
		select count(*) from gym;
	</select>
	<select id="getGymList" resultType="com.spring.javaProjectS2.vo.GymVO">
		select *, (select count(*) from gym) as gymCnt from gym order by idx desc limit #{startIndexNo}, #{pageSize};
	</select>
	<select id="getGymSearchList" resultType="com.spring.javaProjectS2.vo.GymVO">
		<if test="area == ''">
			select * from gym where gymName like concat('%',#{gymName},'%');
		</if>
		<if test="area != ''">
		 select * from gym where area = #{area} and gymName like concat('%',#{gymName},'%');
		</if>
	</select>
	<select id="getGyminfor" resultType="com.spring.javaProjectS2.vo.GymVO">
		select * from gym where idx = #{idx};
	</select>
	<select id="getGymSearch" resultType="com.spring.javaProjectS2.vo.GymVO">
		select * from gym where gymName = #{vo.gymName} and area = #{vo.area} and address like concat('%',#{vo.address},'%');
	</select>
	<select id="getGymInterest" resultType="com.spring.javaProjectS2.vo.InterestVO">
		select * from interest where mid = #{mid} and part = 'gym' and partIdx = ${idx};
	</select>
	
	<!-- insert -->
	<insert id="setGymInput">
		<if test="vo.photo == ''">
			insert into gym values(default,#{vo.gymName},#{vo.area},#{vo.address},#{vo.homePage},default,#{vo.tel});
		</if>
		<if test="vo.photo != ''">
			insert into gym values(default,#{vo.gymName},#{vo.area},#{vo.address},#{vo.homePage},#{vo.photo},#{vo.tel});
		</if>
	</insert>
	<insert id="setGymInterest">
		insert into interest values(default,#{vo.mid},#{vo.part},#{vo.partIdx});
	</insert>
	
	<!-- delete -->
	<delete id="setGymInterestDel">
		delete from interest where mid = #{vo.mid} and part = #{vo.part} and partIdx = ${vo.partIdx};
	</delete>
	
</mapper>
