<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS2.dao.MemberDAO">
	<!-- select -->
	<select id="getMemberIdCheck" resultType="com.spring.javaProjectS2.vo.MemberVO">
		select * from member where mid = #{mid};
	</select>
	<select id="getMemberNickCheck" resultType="com.spring.javaProjectS2.vo.MemberVO">
		select * from member where nickName = #{nickName};
	</select>
	<select id="memberMidSearch" resultType="com.spring.javaProjectS2.vo.MemberVO">
		select * from member where email = #{email};
	</select>
	<select id="getMemberKaKaoCheck" resultType="com.spring.javaProjectS2.vo.MemberVO">
		select * from member where nickName = #{nickName} and email = #{email};
	</select>
	<select id="getMemberList" resultType="com.spring.javaProjectS2.vo.MemberVO">
		select *, datediff(modifyDate,now()) as date_diff, timestampdiff(hour,modifyDate,now()) as hour_diff, (select count(*) from member) from member order by idx desc limit #{startIndexNo}, #{pageSize};
	</select>
	<select id="getmemberDelList" resultType="com.spring.javaProjectS2.vo.MemberVO">
		select *, datediff(modifyDate,now()) as date_diff, timestampdiff(hour,modifyDate,now()) as hour_diff, (select count(*) from member where userDel='OK') from member where userDel = 'OK' order by idx desc;
	</select>
	<select id="getTotRecCnt" resultType="int">
		select count(*) from member;
	</select>
	<select id="getinquiryTotRecCnt" resultType="int">
		select count(*) from inquiry;
	</select>
	<select id="getMemberInquiryList" resultType="com.spring.javaProjectS2.vo.InquiryVO">
		select *, datediff(asktime,now()) as date_diff, timestampdiff(hour,asktime,now()) as hour_diff from inquiry where askMid = #{mid} order by idx desc limit #{startIndexNo}, #{pageSize};
	</select>
	<select id="getMemberinquiryContent" resultType="com.spring.javaProjectS2.vo.InquiryVO">
		select *, datediff(asktime,now()) as date_diff, timestampdiff(hour,asktime,now()) as hour_diff from inquiry where idx = #{idx};
	</select>
	<select id="getHealthModify" resultType="com.spring.javaProjectS2.vo.ModifyVO">
		select * from modify where hName = #{hName} and requestMid = #{requestMid} and modifyPart = #{modifyPart};
	</select>
	<select id="getHealthWriteList" resultType="com.spring.javaProjectS2.vo.HealthWriteVO">
		select *, datediff(today,now()) as date_diff from healthWrite where mid = #{mid};
	</select>
	<select id="getHealthWriteSearchList" resultType="com.spring.javaProjectS2.vo.HealthWriteVO">
		select * from healthWrite where mid = #{mid} order by idx limit 5;
	</select>
	
	
	<!-- insert -->
	<insert id="setMemberInput">
		insert into member values(default,#{vo.name},#{vo.mid},#{vo.pwd},#{vo.nickName},#{vo.gender},#{vo.tel},#{vo.address},#{vo.email},default,default,default,#{vo.photo},default,default,default,default,default,default);
	</insert>
	<insert id="setKakaoMemberInput">
		insert into member values(mid,pwd,nickName,email,name) values (#{mid},#{nickName},#{email},#{nickName});
	</insert>
	<insert id="setMemberinquiryInput">
		insert into inquiry (askMid,ask,part) values (#{vo.askMid},#{vo.ask},#{vo.part});
	</insert>
	<insert id="setHealthModify">
		insert into modify values(default,#{vo.hName},#{vo.requestMid},#{vo.modifyPart},#{vo.modifyText},default,default);
	</insert>
	<insert id="setHealthWrite">
		insert into healthWrite values(default,#{vo.mid},#{vo.part},#{vo.healthDate},#{vo.healthTime},#{vo.weight},#{vo.healthDetailText},default);
	</insert>
	
	<!-- update -->
	<update id="setMemberUpdate">
		update member set point = #{vo.point}, level = #{vo.level}, visitcnt = #{vo.visitcnt}+1, totalCnt = #{vo.totalCnt}, todayCnt = #{vo.todayCnt}, lastDate = now() where mid = #{vo.mid};
	</update>
	<update id="setMemberImsiPwd">
		update member set pwd = #{pwd} where mid = #{mid};
	</update>
	<update id="setMemberModify">
		update member set name = #{vo.name}, nickName = #{vo.nickName}, gender = #{vo.gender}, tel = #{vo.tel}, address = #{vo.address}, email = #{vo.email}, modifyDate = now() where mid = #{vo.mid};
	</update>
	<update id="setMemberPwdChangeOk">
		update member set pwd = #{pwd} where mid = #{mid};
	</update>
	<update id="setMemberDelOk">
		update member set userDel = 'OK' where mid = #{mid};
	</update>
	
	<!-- delete -->
	<delete id="setMemberDel">
		delete from member where mid = #{vo.mid};
	</delete>
	<delete id="setmemberinquiryDel">
		delete from inquiry where idx = #{idx};
	</delete>
	
</mapper>
